body {
    background-color: #161614;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #001925;
    border-left: 5px solid #caf438;
    margin-bottom: 20px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.heading {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.info {
    color: #d3f35f;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
}

.input {
    color: #87a4b6;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.input:focus {
    border-left: 5px solid #caf438;
}

.send-button, .reset-button {
    font-weight: bold;
}

.send-button {
    background: #caf438;
    color: #001925;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.send-button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #caf438;
}

.reset-button {
    background: #001925;
    color: #caf438;
    border: 1px solid #caf438;
    padding: 10px 20px;
    border-radius: 5px;
}

.reset-button:hover {
    background: #caf438;
    color: #001925;
}
